/*

New Vision Template

https://templatemo.com/tm-542-new-vision



    COLORS
    
    Title: #333 (Dark Gray)
    Text: #666 (Gray)
    Hover: #09F (Blue)
    Button: #C99 (Pink)
    
*/

ul,
h1,
h2,
h3,
h4,
p,
figure {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  background-color: #ddd;
  overflow-x: hidden;
}

a {
  transition: all 0.3s ease;
  text-decoration: none;
  /* added to click on recommended books */
  outline: none;
}

a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}

h1,
h2,
h3 {
  color: #333;
  font-weight: 400;
}

p {
  color: #666;
  line-height: 1.9;
}

/*--------------------- custom code ----------------------------------*/

#halfimg {
  background-image: url(../img/poupaps.jpg);
  background-repeat: no-repeat;
  background-position: 45% top;
  width: 800px;
  height: 90%;
}

.icon-description{
  margin-left: 5%;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  font-size: 40px;

}
.effect-zoe img {
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}

.small-icon-description{
  margin-left: 5%;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
}

.tm-about {
  margin-right: 2%;
  max-width: 800px;
}

.leftMargin {
  /* margin-left: 5%; */

}

.audio-style{
  width: 100%;
  margin-bottom: 10%;
  margin-top: 2%;

}

.audio-content {
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
/* text-align: center;
padding: 50% 0; */

}

.description-service p{
margin-top: 2%;
}

.customSizeImg {
  width: 100%;
  /* height: auto; */
  /* min-height : 390px; */
  max-height : 390px;
/* height: 80%; */
  /* margin-bottom: 5%; */
}

.custom-partner-image {
  width: 180px;
  height: 120px;
}

.tm-media-body {
  margin-left: 3%;
  width: 50%;
}

.tm-article-title:hover, .tm-site-name:hover, .tm-site-icon:hover,
.tm-article-icon:hover, footer ul li:nth-child(3) a span:hover {
  color: #09f;
}

.tm-section-header-small {
  font-size: 1.4rem;
  padding: 25px 150px 25px 30px;
  width: 360px;
}

.tm-header-floating {
  position: absolute;
  z-index: 100;
  top: -30px;
  width: 360px;

}

.tm-about-icon {
  color: #09f;
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.tm-about-1 {
  padding: 30px;
  max-width: 100%;
}

.no-bottom-padding {
 padding-bottom: 0px;
}

/* membre des associations */
.tm-media > div > ul > li {
  margin-left: 8%;
}

.tm-media-big-img {
  margin-right: 5px;
}

.tm-media-img {
  margin-right: 5px;
  width: 15%;
  /* max-width: 300; */
  width: 420px;
  height: 245px;
}

.tm-main-bg {
    background-image: url(../img/jc2.jpeg);
    background-repeat: no-repeat;
    background-position: 45% top;
    background-size: 90% 90%;
  
    /* height: 800px;
      min-height: 500px; */
    /* margin-left: -40px;
      margin-right: -40px;   */
  }

  .tm-article-icon {
    color: rgb(236, 198, 128);
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .tm-btn {
    background-color:rgb(236, 198, 128);
    color: white;
    padding: 10px 25px;
  }

.tm-btn:hover,
.tm-btn:focus {
  background-color: #85ec93;
  text-decoration: none;
  color: white;
}

  .tm-lecture-bg {
    background-image: url(../img/books.jpg);
  }
  
  .tm-philo-bg {
    background-image: url(../img/philo.jpg);
    opacity: .6;
  }

  .tm-media-bg {
    background-image: url(../img/media.jpg);
    opacity: .7;
  }

  .tm-contact-bg {
    /* image bg pour contact */
    background-image: url(../img/op1.png);
    opacity: .8;
  }

  /* Call to Action */

.call-top-action {
    background-color: #09f;
    opacity: .7;
    color: #fff;
    padding: 30px 0px 2px 0px;
    /* close the gap between footer and rest */
    margin-top: -.47%;
    /* margin-bottom: 20px; */

}

.call-top-action h1 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* margin: 0px; */
    color: #fff;

}

.call-top-action p {
    font-size: 22px;
    /* margin-bottom: 20px; */
    color: #fff;
}

.call-top-action p:nth-child(1) {
  margin-bottom: 10px;
}

/* custom hover contact */
.custom-container {
  position: relative;
  width: 50%;
}

.custom-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 400px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.custom-container:hover .custom-image {
  opacity: 0.3;
}

.custom-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  color: #09f;
  font-size: 20px;
  padding: 16px 32px;
}
/* fin custom hover contact */

/* overlay hover */
.image {
  display: block;
  width: 100%;
  min-height: 269px;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text-c {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* fin overlay */

/* Footer */

footer {
    text-align: center;
    /* margin-top: 30px; */
    margin-bottom: 20px;

}

footer ul {
    padding: 0px;
    list-style: none;
    margin: 20px;
}

footer ul li {
    display: inline-block;
    position: relative;
}

/* space between 2 icons */
footer ul li:nth-child(2) {
    display: inline-block;
    margin-left: 25px;
}

 footer ul li a span {
    width: 50px;
    height: 50px;
    background: #42484C;
    display: block;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    border-radius: 50%;
}

/* to the top arrow */
footer ul li:nth-child(3) {
  position: absolute;
  margin-left: 40%;
}

footer ul li:nth-child(3) a span {
  background: #85ec93;
}
/*--------------------- end custom code ----------------------------------*/

.tm-color-primary {
  color: #09f;
}

.navbar-toggler {
  padding: 10px 15px;
  border-color: #d4d4d4;
  border: none;
}

.container-fluid {
  max-width: 80%;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 992px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tm-site-header {
  padding-top: 50px;
}

@media (max-width: 992px) {
  .tm-site-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.tm-site-header-col {
  display: flex;
  justify-content: space-between;
}

.tm-site-icon {
  padding: 10px;
  color: #999;
}

.tm-site-name {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
  color: #999;
}

@media (max-width: 992px) {
  .tm-contact-bg {
    background-position: 80% top;
  }
}

nav > ul > li {
  list-style: none;
}

.tm-nav {
  border: 1px dotted #ccc;
  margin: 0 5px 10px;
}

.tm-nav > ul {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

@media (max-width: 992px) {
  .tm-nav > ul {
    flex-direction: column;
    padding-right: 0;
  }
}

.tm-nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #999;
  display: inline-block;
  padding: 25px 30px;
  margin-left: 25px;
  border-bottom: 5px solid transparent;
}

@media (min-width: 1080px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.nav-item .tm-nav-link:hover,
.nav-item.active .tm-nav-link {
  color: #000;
  border-bottom: 5px solid #09f;
  border-left: none;
}

@media (max-width: 992px) {
  .navbar-nav .tm-nav-link {
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding: 10px 20px;
  }

  .nav-item .tm-nav-link {
    border-left: 5px solid transparent;
    border-bottom: none;
  }

  .nav-item .tm-nav-link:hover,
  .nav-item.active .tm-nav-link {
    border-left: 5px solid #09f;
    border-bottom: none;
  }
}

.tm-mobile-menu {
  display: none;
}

.tm-mobile-menu.active.focus,
.tm-mobile-menu.active:focus,
.tm-mobile-menu.focus,
.tm-mobile-menu:active.focus,
.tm-mobile-menu:active:focus,
.tm-mobile-menu:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}

.tm-menu-container-outer {
  display: flex;
  justify-content: flex-end;
}

.tm-menu-container {
  display: inline-block;
  margin-right: -20px;
}

@media (max-width: 992px) {
  .tm-menu-container {
    position: absolute;
    right: 30px;
    top: 0;
  }

  .tm-mobile-menu {
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: transparent;
  }

  .tm-nav {
    height: 0;
    transition: all 0.3s ease;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 1000;
    background-color: white;
    margin: 0;
    min-width: 180px;
  }

  .tm-nav.show {
    height: auto;
  }

  #navbarSupportedContent1 {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1000;
    background-color: white;
  }
}

.tm-section-header {
  display: inline-block;
  background-color: #09f;
  opacity: 0.7;
  color: white;
  padding: 30px 90px 30px 30px;
  margin: 0;
  /* changed fs to  */
  font-size: 1.4rem;

}

@media (max-width: 500px) {
  .tm-section-header {
    padding: 20px;
  }
}

.tm-welcome-row {
  margin-top: 128px;
  margin-bottom: 10px;
}

.tm-welcome-row-2 {
  margin-bottom: 45px;
}

.tm-hover-color, .tm-media div:hover, .hover:hover {
  color: #09f;
}

.tm-article-title {
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.tm-media {
  display: flex;
  align-items: flex-start;
  margin-bottom: 70px;
}

.tm-media-v-center {
  align-items: center;
}

@media (max-width: 992px) {
  .tm-media-body {
    width: auto;
  }
}

@media (max-width: 480px) {
  .tm-media {
    flex-direction: column;
  }
  .tm-media-img {
    width: auto;
  }

  .tm-media-body {
    max-width: 300px;
    margin-right: 0;
    margin-top: 20px;
  }
}

.tm-dotted-box-container {
  margin-bottom: 35px;
}

.tm-dotted-box-container-2 {
  margin-bottom: 15px;
}

.tm-dotted-box {
  display: flex;
  flex-direction: column;
  border: 1px dotted #ccc;
  padding: 24px;
  height: 100%;
  margin-bottom: 15px;

}

.tm-dotted-box-2{
  display: flex;
  flex-direction: column;
  border: 1px dotted #ccc;
  padding: 24px;
  height: 100%;
}

.tm-article-title {
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.tm-article-title,
.tm-article-text {
  margin-bottom: 30px;
}

.tm-article-link {
  align-self: flex-end;
}

.tm-btn-rounded {
  border-radius: 3px;
}

.tm-carousel {
  padding-top: 40px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 992px) {
  .tm-carousel {
    max-width: 800px;
  }
}

@media (max-width: 420px) {
  .tm-carousel {
    max-width: 240px;
  }
}

.tm-featured {
  margin-bottom: 50px;
}
.slick-dots li {
  width: 30px;
}
.slick-dots li button {
  width: 30px;
}

.slick-dots li button:before {
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  font-weight: 900;
  content: "\f068";
  color: #ddd;
  opacity: 1;
  width: 30px;
  transition: all 0.3s ease;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  color: #09f;
}

/* footer {
  color: #666;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #09f;
  text-decoration: none;
} */

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid figure {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h4 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h4 span {
  font-weight: 800;
}

.grid figure h4,
.grid figure p {
  margin: 10px 0 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #4a3753;
  max-width: 240px;
}

figure.effect-honey img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey:hover img {
  opacity: 0.5;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #3496d8;
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h4 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h4 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h4,
figure.effect-honey:hover h4 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media (max-width: 600px) {
  .tm-about-icon {
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 160px;
  }
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

.grid figure.effect-zoe {
  background: transparent;
}

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 15px 15px 0;
  height: 5em;
  background: rgba(255, 255, 255, 0.7);
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-zoe p.icon-links a {
  color: #3c4a50;
  font-size: 1.4em;
  padding: 5px 10px;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
  color: #09f;
}

figure.effect-zoe p.description {
  position: absolute;
  bottom: 8em;
  padding: 2em;
  color: #fff;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: "feathericons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
  content: "\e000";
}
.icon-paper-clip::before {
  content: "\e001";
}
.icon-heart::before {
  content: "\e024";
}
figure.effect-zoe h2 {
  font-size: 1.2rem;
}
figure.effect-zoe:hover p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.tm-services {
  /* max-width: 1080px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 20px;

}

/* removed the services */
/* @media (max-width: 768px) {
  .tm-services {
    max-width: 510px;
  }
}

.tm-services-img {
  max-width: 300px;
  width: 100%;
  margin: 0 auto 40px;
}

.tm-service-description {
  font-size: 1.1rem;
  color: #09f;
  text-align: center;
  margin-top: 20px;
} */

.tm-solid-border {
  border: 1px solid #cccdce;
  padding: 40px;
}

.tm-service-icon {
  text-align: center;
  min-width: 125px;
  margin-right: 15px;
  color: #09f;
}

.tm-approach-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.tm-approach-box {
  margin-left: 12px;
  margin-right: 12px;
}

@media (max-width: 992px) {
  .tm-approach-box {
    margin-left: auto;
    margin-right: auto;
  }
}

.tm-media-2 {
  margin-bottom: 54px;
}

@media (max-width: 992px) {
  .tm-media-2 {
    margin-bottom: 30px;
  }
}

@media (max-width: 880px) and (min-width: 768px) {
  .tm-media-2 {
    flex-direction: column;
  }
  .tm-service-icon {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .tm-service-icon {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.tm-partners {
  max-width: 1020px;
  margin-top: 30px;
}

.tm-partners img {
  margin-left: 10px;
  margin-right: 10px;
}

.tm-partner-text {
  margin-top: 40px;
  max-width: 830px;
}

.form-group {
  margin-bottom: 40px;
}

.tm-btn-primary {
  color: white;
  background-color: #c99;
  font-size: 1.2rem;
  padding: 12px 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #a64b4b;
}

.tm-link {
  color: #666;
}
.tm-contact-box {
  padding: 65px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 440px;
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 440px;
  width: 100%;
}

.tm-ul-hyphen li {
  list-style-type: none;
  line-height: 1.9;
  color: #666;
}

.tm-ul-hyphen li:before {
  content: "-";
  margin-right: 5px;
}

.tm-contact-l,
.tm-contact-r {
  padding-left: 75px;
  padding-right: 75px;
}

@media (max-width: 992px) {
  .mapouter,
  .tm-contact-l,
  .tm-contact-r,
  .tm-contact-box {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .tm-contact-r {
    margin-top: 50px;
  }

  .mapouter,
  .tm-contact-l,
  .tm-contact-r,
  .tm-contact-box {
    padding-left: 20px;
    padding-right: 20px;
  }
}
